@use "../../../styles/_mixins.scss" as styles;

.footer {
  background-color: var(--tertiary-color);

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 0;
    color: var(--white-color);
    @include styles.wrapper;
  
    @include styles.mobile-only {
      flex-direction: column;
    }
  
    .title {
      @include styles.heading-md;
  
      @include styles.mobile-only {
        margin-bottom: 20px;
      }
    }
  }
}