@mixin light-theme {
    --bg-color: #c4b1b1;
    --text-color: #000000;
}

@mixin dark-theme {
    --bg-color: red;
    --text-color: purple;
}

:root {
    @include light-theme;
}

[data-dark-mode] {
    @include dark-theme;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}


section {
    background-color: var(--bg-color);
    color: var(--text-color);
}
