@use '../../../styles/_mixins.scss' as styles;

.header {
  @include styles.wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background: transparent;
  padding: 39px 0;
  color: var(--white-color);

  .title {
    @include styles.heading-md;
  }

  .navlinks{
    display: flex;
    gap: 32px;

    li {
      display: flex;
    }

    button {
      cursor: pointer;
      color: var(--white-color);
    }
  }
}
