@use "../../../styles/_mixins.scss" as styles;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  background: transparent;
  padding: 39px 0;
  color: var(--white-color);
  @include styles.wrapper;

  @include styles.mobile-only {
    flex-direction: column;
  }

  .title {
    @include styles.heading-md;

    @include styles.mobile-only {
      margin-bottom: 20px;
    }
  }
}
