@use "../../../styles/_mixins.scss" as styles;

.contact {
  background-color: var(--tertiary-color);
  color: var(--text-primary);
  @include styles.text-md;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 84px;
    padding-bottom: 92px;
    column-gap: 32px;
    border-bottom: 1px solid var(--text-primary);
    @include styles.wrapper;

    @include styles.mobile-only {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    @include styles.tablet-only {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .oval {
      position: absolute;
      top: 330px;
      right: 86%;

      @include styles.tablet-only {
        top: 132px;
      }

      @include styles.mobile-only {
        top: 124px;
      }
    }

    path {
      stroke: var(--text-primary);
    }
  }

  .text {
    max-width: 445px;
    width: 100%;

    @include styles.mobile-only {
      margin-bottom: 48px;
    }

    .title {
      margin-bottom: 36px;

      @include styles.heading-xl;

      @include styles.mobile-only {
        @include styles.heading-lg;
      }
    }
  }

  .form {
    max-width: 445px;
    width: 100%;

    .formContentWrapper {
      display: flex;
      flex-direction: column;
      min-height: 376.18px;
    }

    .formGroup {
      display: flex;
      flex-direction: column;
      margin-bottom: 11px;

      &:nth-last-child(2) {
        margin-bottom: 32px;
      }

      label {
        @include styles.visually-hidden;
      }

      .input,
      textarea {
        color: var(--text-primary);
        padding: 16px 24px;
      }

      .textarea {
        overflow-x: hidden;
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: left;
      }

      span {
        border-top: 1px solid var(--text-primary);
      }

      span.error {
        padding-top: 5px;
        border-top-color: var(--error-color);
        color: var(--error-color);
        text-align: right;
        @include styles.text-sm;
      }
    }

    .button {
      align-self: flex-end;
      @include styles.cta;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    p.button {
      align-self: center;
      margin-top: 120px;
    }

  }
}