@use "../../../styles/_mixins.scss" as styles;

.projects {
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding-bottom: 140px;

    .container {
        @include styles.wrapper;

        .introduction {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 80px;

            @include styles.tablet-only {
                margin-bottom: 60px;
            }

            .title {
                @include styles.heading-xl;

                @include styles.mobile-only {
                    @include styles.heading-lg;
                }
            }
        }

        .list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
            row-gap: 70px;

            @include styles.tablet-only {
                column-gap: 22px;
                row-gap: 79px;
            }

            @include styles.mobile-only {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 59px;
            }

            .item {
                .imageContainer {
                    margin-bottom: 20px;
                    position: relative;
                    aspect-ratio: 546 / 400;
                    z-index: 0;

                    .overlay {
                        z-index: 2;
                        display: flex;
                        gap: 48px;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        flex-direction: column;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--background-overlay);
                        opacity: 0;
                        transition: opacity 0.3s ease;
                        pointer-events: none;

                        @include styles.tablet-only {
                            display: none;
                        }

                        @include styles.mobile-only {
                            display: none;
                        }
                    }

                    &:hover .overlay {
                        opacity: 1;
                        pointer-events: auto;
                        cursor: pointer;
                    }

                    .image {
                        z-index: 1;
                    }
                }

                .name {
                    @include styles.heading-md;
                    margin-bottom: 7px;
                    overflow-wrap: break-word;
                }

                .technologies {
                    display: flex; 
                    flex-wrap: wrap;
                    gap: 12px;

                    @include styles.text-md;

                    @include styles.tablet-only {
                        margin-bottom: 20px;
                    }

                    @include styles.mobile-only {
                        margin-bottom: 20px;
                    }
                }

                .links {
                    display: none;

                    @include styles.tablet-only {
                        display: flex;
                        gap: 32px;
                    }

                    @include styles.mobile-only {
                        display: flex;
                        gap: 32px;
                    }
                }
            }
        }
    }
}