@use "../../../styles/_mixins.scss" as styles;

.projects {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding-bottom: 140px;

    .container {
        @include styles.wrapper;

        .introduction {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 80px;

            .title {
                @include styles.heading-xl;
            }
        }

        .list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
            row-gap: 70px;
            .item {

                .imageContainer {
                    margin-bottom: 20px;
                    position: relative;

                    .overlay {
                        display: flex;
                        gap: 48px;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        flex-direction: column;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                        opacity: 0;
                        transition: opacity 0.3s ease;
                        pointer-events: none;
                    }

                    &:hover .overlay {
                        opacity: 1;
                        pointer-events: auto;
                        cursor: pointer;
                    }
                }

                .name {
                    @include styles.heading-md;
                    margin-bottom: 7px;
                }

                .technologies {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    column-gap: 18px;

                    @include styles.text-md;
                    .technology {
                    }
                }
            }
        }
    }
}
